@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unica+One&display=swap');
 :root {
        --primary-color:#f7b80a;
        --secondary-color: #4e0404;
        --font-size: 16px;
        --navbar-height: 64px;
        --footer-height: 50px;
        --font-family: Bebas;
      }
  
       
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
header{
  position: fixed;
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.603);
}

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--primary-color);
  
  }
  
  .logo a>img{
   max-width: 120px;
    border-radius: 5px;
    mix-blend-mode: multiply;
   /* animation-name: move; */
   position: relative;
   animation-duration: 8s;
   animation-iteration-count: 2;
   animation-fill-mode: forwards;
    /* border-bottom: 2px solid var(--secondary-color); */
  }

  @media (max-width: 768px) and (min-width: 480px){
    .logo a>img{
      max-width: 100px;
    }

    .navbar{
      display: flex;
      justify-content: flex-start;
    }
    
    .head-text p{
      font-weight: 100;
    }
    
  }
  @media (max-width: 480px) and (min-width: 320px) {
    .logo a>img{
      max-width: 80px;
    }
    .head-text p{
      font-weight: 100;
    }

    .navbar{
      display: flex;
      justify-content: flex-start;
    }
  }

  @media (min-width: 768px) and (max-width: 1025px){
    .logo a>img{
      max-width:100px;
      background-color: #f7b80a34;
    }

    .zoomInBottom1{
      font-size: 2em;
    }

  }

  @keyframes move {
    0%{
      left: -20%;
      opacity: 1;
    }
    50%{
     left: 40%;
     transform: rotate(-10deg);
    }

    100%{
     left: -20%;
     /* opacity: 0; */
    }

  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #4e0404;
    text-decoration: none;
    font-size: 18px;
    border-bottom-width: 2px solid orange ;
  }

  .nav-links>a:focus{
    background-color: #4e0404;
  }

  .nav-links a:hover{
   text-decoration: underline;
  border-bottom: 2px solid rgb(54, 2, 2);
  border-bottom-width: 6px solid orange ;

  }

  .callus1{
   margin-left: 8rem; 
   color: white;
  }

   .Whatsapp-btn, .call-btn{
    padding: 4px;
    min-width: 9em;
    background-color: #4e0404;
    border: none;
    border-radius: 8px;
    color: white;
    transition: 0.2s ease-out;
  }

  .call-btn a{
    color: white;
    font-size: 15px;
  }

  .Whatsapp-btn{
    margin-left: 15px;
  }

  .Whatsapp-btn>a{
    color: white;
  }

  
  .Whatsapp-btn:hover, .call-btn:hover{
    background-color: #f7b80a;
    border: 2px solid white;
  }

  .callus{
    display: none;
  }
  .burger {
    display: none;
    cursor: pointer;
    transition: 0.2s linear;
    padding: 5px;
    background-color: rgba(78, 2, 19, 0.322);
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 4px;
  }

  .burger:hover{
    background-color: #330202ad;
    border-radius: 50%;
    padding: 5px;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease-out;
  }

  /* Introductory Page */

  
.container-head{
  background: linear-gradient( to right, rgba(82, 37, 37, 0.866)  10%, rgba(221, 161, 161, 0.479) 80% ), url('warehouse-and-storage\ img.jpg');
  padding: 4% 50px;
  background-position: center;
  background-size: cover;

  /* display: inline-block; */
}
.head-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 25px;
  padding: 10% 0px;

  backdrop-filter: blur(3px);
  background-color: #faf3e500;
  border-radius: 4px;
}

.head-content .head-img {
 max-width: 100%;
  padding: 10px;
  border-radius: 45px;
}


@media (max-width: 768px) {
  .head-content{
    display: grid;
    gap: 1em 2em;
    grid-template-columns: 1fr;
  }
  
  .head-imglogo{
    max-width: 80px;
  }
  .head-text .zoomInBottom1{
    font-size: 3em;
  }
  
}
@media (max-width: 480px) {
  .head-content{
    display: grid;
    gap: 1em 2em;
    grid-template-columns: 300px 1fr;
  }

  .head-imglogo{
    max-width: 80px;
  }
.head-text .zoomInBottom1{
  font-size: 2em;
  padding-top: 6rem;
}

}

.head-img img {
  width: 100%;
  animation-name: boatMove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(5px 25px 5px rgb(255, 255, 255));
}

@keyframes boatMove {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    filter: drop-shadow(5px 15px 5px rgb(242, 151, 40));
  }
}
.head-imglogo{
  filter: drop-shadow( 15px 5px 5px white);
  width: 130px;
  max-width: 100px;
  position: relative;
  animation-name: dance;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes dance {
  0% {
    left: -5% ;
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    left: 10%;
    transform: translateY(-30px);
  }
  50% {
    left: 50%;
    transform: translateY(0) rotate(-10deg);
    filter: drop-shadow( 15px 5px 5px rgb(9, 211, 204));
  }
  75% {
    left: 30%;
    transform: translateY(-20px);
  }
  100% {
    left: -10%;
    opacity: 1;
    transform: translateY(0);
  }
}


.head-text{
  display: inline-block; 
  backdrop-filter: blur(2px);
  background-color: #fcfbf900;
}

@keyframes zoomInBottom{
    from {
        transform: scale(4) translateY(50%);
        opacity: 0;
    }
}
.zoomInBottom1{
  text-transform: uppercase;
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 100;
  font-style: normal;
  text-align: left;
 font-size: 3.5rem;
 color: var(--primary-color);
 text-shadow: 0 2px 8px white;
 -webkit-text-stroke: 2px #490303;
 animation-name: zoomInBottom;
 animation-duration: 2s;
}


.head-text p{
  font-family: sans-serif;
  font-weight: 50;  
  font-size: 18px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}

.head-btn{
  display:block;
  justify-content: last baseline;

}
.contact-bt {
  background-color: transparent;
  border: none;
}
.contact-btn  {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: var(--primary-color);
    padding: 0 5px;
  }

.callus{
display: inline;
font-size: 12px;
list-style: none;
text-decoration: none;
text-align: center;
}

.callus a{
text-decoration: none;
text-align: center;
}
.nav-links {
  display: none;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #4e0404;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  transform: translateX(100%);
}

.nav-links a{
    color: var(--primary-color);
}

.nav-links li {
  margin: 10px 0;
}
.nav-links a{
    font-size: 16px;
}

.burger {
  display: block;
}

.nav-active {
  display: flex;
  flex-direction: column;
  transform: translateX(0);
}

.burger-toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-toggle .line2 {
  opacity: 0;
}

.burger-toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.head-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: 15px;
}

.container-head{
  background: linear-gradient( to right, rgba(64, 5, 5, 0.699)  10%, rgba(86, 11, 11, 0.479) 80% ), url('warehouse-and-storage img.jpg');
  padding: 30% 10px;
  background-position: calc(50% - 50px);
  background-size: cover;
  /* display: inline-block; */
}
.head-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px, 1fr);
  gap: 2px;
}

.head-text p{
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;  
  font-size: 15px;
  line-height: 15px;
  color: white;
}

.card{
  max-width: 100%;
  width: 500px
}

.head-btn{
  display:block;
}
}

.head-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding-top: 10%; */
  gap: 15px;
}

.card:nth-last-child(1){
  background-color: var(--primary-color);
  color: #4e0404;
  transition: 0.3s ease-out;
}

.card:nth-last-child(2){
  background-color: var(--secondary-color);
  color: #ffffff;
  transition: 0.3s ease-out;
}

.card:nth-last-child(3){
  background-color: var(--primary-color);
  color: #4e0404;
  transition: 0.3s ease-out;
}
.card:nth-last-child(4){
  background-color: var(--secondary-color);
  color: #ffffff;
  transition: 0.3s ease-out;
}

.card, .card-service{
  transition: 0.3s ease-out;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.08);
  /* opacity: 0.6; */
}

.card img{
  width: 90px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(3px);
  /* background-color: #fcfbf970; */
  padding: 5px;

}

.card-body{
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-overflow: ellipsis;
 
}

.card-body p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-style: italic;
  line-height: 15px;
 text-align: center;
}

.card-body h5{
  text-align: center;
}



/* ABOUT PAGE */

.container-about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 251, 243, 0.726);
  padding: auto 50px;
  background-position: center;
  background-size: cover;

}

.about-content{
  border: 1px solid rgba(255, 255, 255, 0.2);
 
}

.about-content span{
  color: #ffffff;
  font-size: 15px;
 border-radius: 4px;
 letter-spacing: 2px;
 text-transform: uppercase;
 border-left: 12px solid var(--primary-color);
 background-color: #4e0404c9;
 padding: 5px 10px;
 
}

.about-text{
  font-size: 18px;
  display: flex;
  justify-content: right;
  flex-direction: column;
  padding: 10px;

}

.about-text h1{
  text-transform: uppercase;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-text p{
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.about-btn{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-top: 45px;
  border: none;

}

.Explore-More{
  width: 11em;
  max-width: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-family: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  /* overflow: hidden; */
  color: white;
  background-color: #f7b80a;
  z-index: 1;
  transition: .5s ease-out;
  box-shadow: 4px 4px 10px var(--secondary-color),
  -4px 4px 10px var(--primary-color);
}

.Explore-More a{
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}
.Explore-More:hover{
  background-color: #490303;
}
.Explore-img{
  filter: drop-shadow(2px 0 2px white);
  width: 35px;
  margin-left: 10px;
}

.Explore-a{
  transition: 0.4s linear;
 }

.Explore-a:hover{
  margin-left: 25px;
  color: white;
  
 }


 @media (max-width: 480px) and (min-width: 320px){
  .about-text h1{
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
  }

  .about-text p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 1px;
  }
  .about-content{
    padding: auto;
  }
  .about-info-content .aboutRank{
    font-weight: 400;
    font-family: cursive;
    font-size: 1.5rem;
    writing-mode: vertical-l;
    transform: rotate(45deg);
    text-align: center;
  }

.about-info-content .aboutQualify {
  font-family: fantasy;
  font-weight: 100;
  letter-spacing: 1px;
 
}

.container-about{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background:linear-gradient( to bottom, rgba(246, 219, 169, 0.966), rgba(61, 61, 225, 0.379)) ;
  padding: auto 20px;
  background-position: center;
  background-size: cover;

}


.typing{
  font-size: 2em;
}


 }
 


 @media (max-width: 768px) and (min-width: 480px){
  .about-text h1{
    font-size: 2em;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
    letter-spacing: 2px;
  }


.typing{
  font-size: 2em;
}

  .about-text p{
    max-width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 25px;
  }
  .about-content{
    padding: auto;
  }


.about-content span{
  position: absolute;
  right: 0;
  color: #ffffff;
  font-size: 18px;
}


.container-about{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: wheat;
  padding: auto 10px;
  background-position: center;
  background-size: cover;

}



 }
/* About Page RIght Side */
.about-content{
  padding: 20px;
}
.about-right-img img{
  width: 100%;
  padding: 12px;
  mix-blend-mode: multiply;
}

.about-right-content{
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: center;
  backdrop-filter: blur(2px);
 
  padding: 10px;
  
}

.about-info-content .aboutRank{
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-info-content .aboutQualify{
  font-weight: 500;
  font-family: sans-serif;
 -webkit-text-stroke: 2px rgba(0, 0, 0, 0.363);
 text-align: center;
 /* writing-mode: vertical-rl;
 text-orientation: downright; */
}



/* CAROUSEL GALLERY */


 .carousel-item img {
  height: 400px;
  width: 100%;
  overflow: visible;
 }
 .carousel-item {
     position: relative;
     text-align: center;
 }
 
 .carousel-item img {
     width: 100%;
 }
 
 .carousel-text {
  width: 400px;
     position: absolute;
     /* top: 50%; */
     left: 50%;
     bottom: 5%;
     transform: translate(-50%, -50%);
     color: white;
     background-color: rgba(0, 0, 0, 0.5); /* Optional: to make text more readable */
     padding: 10px;
     border-radius: 8px;
 }

 .carousel-text h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }



 /* SERVICES */

 .service-text{
  position: relative;
  text-align: center;
 }

.service-content {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  width: 500px;
}


.service-content .typing, h1 {
  font-family: "Unica One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
}
.typing {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  animation: typing 8s steps(40, end), cursor .8s steps(40, end) infinite, moveLetters 8s infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from { width: 0 }
}

@keyframes cursor {
  50% { border-color: transparent }
}

@keyframes moveLetters {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}


.service-content p{
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: rgb(56, 44, 33);
  /* line-height: 30px; */
}

.service-container{
 display: flex;
 justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card-service .service-img{
  width: 100%;
  height: 200px;
  padding: auto;
  margin: auto;

}

.service-img{
  Border-image: fill 0 linear-gradient(#0003, #00000056);
}

.card-service{
  background-color: white;
  padding: 10px;
}

.card-service:hover{
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 8px;

}

.card-body-service{
  padding: 15px;
  text-align: center;
  font-weight: 200;

  & h5{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    line-height: 15px;
    padding-top: 15px;
    font-weight: 600;
    color: #000000e0;
  }

& p{
  line-height: 18px;
  padding-top: 5px;
}
}

.backgroud{
  background-size: 100% 100%;
 padding-bottom: 20px;
  animation: slider 10s linear infinite;
}

@keyframes slider {
  0% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
   
  }  
  30% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
  }  
  60% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
  }  
  100% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
  }  
}


/* Contact Us Section */
.contact-container {
  max-width: 100%;
  background: linear-gradient(to right, rgba(84, 176, 213, 0.749), rgba(213, 116, 84, 0.749));
  padding: 20px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-color: rgba(190, 148, 148, 0.319); /* Background opacity */
  backdrop-filter: blur(5px); /* Backdrop filter blur */
}


.contact-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}
.contactUs-Item{
  font-size: 18px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    color: #ffffff;
  }
  40% {
    transform: translateY(-20px);
    color: #0a1dcb;
  }
  60% {
    transform: translateY(-10px);
  }
}

.contactUs-Item h2 {
  font-size: 2rem;
  border-radius: 12px;
  animation: bounce 2s infinite;
  color: white;
}

.contactUs-Item p{
  max-width: 499px;
}

.contentanimate {
  text-align: center;
}

.work-hours {
  font-size: 24px;
}

.slideSpan {
  display: inline-block;
  margin-right: 5px;
}

.workTable ol {
  list-style-type: none;
  padding: 0;
}

.workTable li {
  font-size: 17px;
  margin-bottom: px;
}

.workTable li:nth-child(1)::first-letter{
  background-color: #4e0404;
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}


.workTable li:nth-child(2)::first-letter{
  background-color: #4e0404;
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}


.workTable li:nth-child(3)::first-letter{
  background-color: #4e0404;
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}


.workTable li:nth-child(4)::first-letter{
  background-color: #4e0404;
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}


.workTable li:nth-child(5)::first-letter{
  background-color: #4e0404;
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}

.contactForm {
  margin-top: 20px;
}

.form-Item {
  display: flex;
  flex-direction: column;
}

.form-Item label {
  font-weight: bold;
}

.form-Item input, .form-Item select, .form-Item textarea {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form-Item button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
}



/* Contact Us Media */
@media screen and (max-width: 768px) {
  .contentanimate .work-hours {
      font-size: 1.8em;
  }

  .work-hours > span {
      position: relative;
      display: inline-block;
      color: orangered;
      height: 1.25em;
      vertical-align: bottom;
      overflow: hidden;
      font-size: 1.1em;
  }

  .slideSpan {
      font-size: .8em;
  }

  .contact-container {
    max-width: 100%;
    padding: 0px;
    background: linear-gradient(to left, rgba(213, 116, 84, 0.749), #ffffffb4), url(freight-services.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
  }


.contactUs-Item h2 {
  font-size: 2rem;
  border-radius: 12px;
  text-align: center;
  animation: bounce 2s infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    color: #ff1302;
    text-shadow: 2px 0 1px rgb(132, 2, 2);
  }
  40% {
    transform: translateY(-20px);
    color: #4f0505;
  }
  60% {
    transform: translateY(-10px);
  }
}
}

/* Animation */
.work-hours > span {
  position: relative;
  display: inline-block;
  color: orangered;
  height: 1.2em;
  width: 60%;
  vertical-align: bottom;
  overflow: hidden;
}
.work-hours > span > span {
  display: block;
  animation: animate1 5s infinite ease;
}

@keyframes animate1 {
  0% {transform: translateY(0%);}
  25% {transform: translateY(-100%);}
  50% { transform: translateY(-200%);}
  75% { transform: translateY(-300%);}
  100% { transform: translateY(-400%);}
  
}


.contactForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f96d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-Item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.FormNamebox {
  display: flex;
  gap: 20px;
}

.mb-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.form-control:focus + .form-label{
  transform: translateY(-25px);
}

.form-control, .form-select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-select{
  width: 100px;
}

button.btn {
  padding: 10px;
  background-color: #391202;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #521703c8;
}

@media (max-width: 768px) {
  .FormNamebox {
      flex-direction: column;
  }

}

@media (max-width: 480px) {
  .contactForm {
      padding: 10px;
      width: 100%;
  }

  button.btn {
      padding: 10px;
      font-size: 16px;
  }
}

.footer {
  background: linear-gradient( to left, rgba(45, 12, 1, 0.749), #370101b4), url(customs\ img.jpg);
  color: white;
  background-position: center;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

h5 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f7b80a;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
      padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 0 10px;
  }

  .col-md-4 {
      min-width: 100%;
      margin-bottom: 20px;
  }

  .footer {
      padding: 10px 0;
  }
}
